.login{
    position: relative;
    text-align: center;
    color: white;
  
}
.top-left {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
  }
  form{
    margin-top: 20px;
        margin-bottom: 20px;
}
input .ng-invalid .ng-touched {
    border: 1px solid red;
}
button.btn.btn-outline-primary {
    padding-left: 25px;
    padding-right: 25px;
}
i.fa.fa {
    font-size: 2em;
    margin: 10px;
}
p span{
    color: brown; 
    font-size: medium; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hidden {
    display: none;
}