body{
  margin-left: 10px;
  margin-right: 10px;
}
img.logo {
    height: 37px;
    width: 129px;
    
}
i.fa.fa-sign-in {
    margin-left: 14px;
}


a.nav-link {
  margin: 10px;
}
a:hover{
  text-decoration: underline 2px solid burlywood !important;
}
.hidden .container .col-8 form {
  display: none !important;
}
.hidden {
  display: none !important;
}
/* #contact{
  position: relative;
  right: -330px;
}
a#blog {
  position: relative;
  right: -330px;
}
a#login {
  position: relative;
  left: 240%;
} */
/* form.d-flex.ng-untouched.ng-pristine.ng-valid {
  margin-top: 0px;
  margin-left: 60px;

 
} */
#navbarSupportedContent form.d-flex.ng-untouched.ng-pristine.ng-valid input {
  border-radius: 20px;
  width: 290px;
  position: relative;
  left: -7em;
}
i.fa.fa-search {
  position: relative;
  left: -10em;
  top: 6px;
  color: darkorange;
}

.navnext{
  margin-left: 125px;
}