    <!-- Categories -->
    <div class="container">
        <div class="titless">
            
            <h3 class="title">{{ currentCustomer}}</h3>
        </div>
        <div class="margin2">
            <a routerLink="/home">Home ></a><a routerLink="about-Us">Categories</a>
        </div>
    </div>
    <div class="container">
  
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (6).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
            <div class="card-body">
                <h4>Dish-title</h4>
            </div>
          </div>
      </div>
      <div class="card-deck mt-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (6).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
            <div class="card-body">
                <h4>Dish-title</h4>
            </div>
          </div>
      </div>
    </div>

    <br>
    <div class="container">
    
        <div class="row mt-4">
            <div class="col-6">
                <figure>
                    <img src="../../../assets/master shafe.png" class="image" alt="">
                </figure>
            </div>
            <div class="col-6">
                <div class="categories1">
                    <div class="textt">
                        <h3 class="mt-4">Title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium animi beatae accusantium Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, dignissimos.</p>
                        <button type="button" class="btn btn-outline-primary" >READ BLOG</button>
                      </div>
                </div>
            </div>
        </div>
<!-- card  -->
        <br>
        <div class="Letest" style="text-align: center;">
          <h2>Our Blog</h2>
      </div>
      <div class="card-deck">
          <div class="card" >
            <img class="card-img" src="../../../assets/download (7).jpg" alt="Card image cap">
            <div class="card-body">
              <h4>Dish-title</h4>
              <p>Category : essert</p>
              <p>by nisha joshi</p>
               <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
            </div>
          </div>
          <div class="card">
            <img class="card-img" src="../../../assets/download (6).jpg" alt="Card image cap">
            <div class="card-body">
              <h4>Dish-title</h4>
              <p>Category : essert</p>
              <p>by nisha joshi</p>
               <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
            </div>
          </div>
          <div class="card">
            <img class="card-img" src="../../../assets/download (7).jpg" alt="Card image cap">
            <div class="card-body">
              <h4>Dish-title</h4>
              <p>Category : essert</p>
              <p>by nisha joshi</p>
               <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
           
            </div>
          </div>
          <div class="card">
              <img class="card-img" src="../../../assets/download (7).jpg" alt="Card image cap">
              <div class="card-body">
                  <h4>Dish-title</h4>
                  <p>Category : essert</p>
                  <p>by nisha joshi</p>
                   <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
              </div>
            </div>
        </div>
      </div>

   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    