<div class="container">
    <div class="row">
        <div class="col-6" style="padding: 0px;">
            <figure>
                <img src="../../../assets/download (1).jpg"  alt="">
            </figure>
                
            
            
        </div>
        <div class="homecont col-6" >
            <h1>Cooking Food At Home</h1>
            <h1 style="color: brown; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Best Test Ever</h1>
            <button type="button" class="btn btn-outline-primary" id="homeex">Read more</button>
        </div>
    </div>
</div>
  
    <!-- Categories -->
 <!-- Categories -->
 <div class="container">
    <div class="Categ"><h1>Categories</h1></div>
    <div class="row">
    <div class="col">
            <figure>
                <img src="../../../assets/download.jpg" class="img1" alt="img">
            </figure>
        <a href=""><div class="title">Description</div> </a>
    </div>
    <div class="col">
        <figure><img src="../../../assets/download (1).jpg" class="img2" alt="img"></figure>
        <a href=""> <div class="title">Description</div> </a>   
       
    </div>
    <div class="col">
        <figure><img src="../../../assets/download (1).jpg" class="img2" alt="img"></figure>
        <a href=""> <div class="title">Description</div> </a>   
       
    </div>
    <div class="col"><figure>
        <img src="../../../assets/download (4).jpg" class="img4" alt="img">
    </figure> <a href=""> <div class="title">Description</div> </a>
    </div>
    <div class="col">
        <figure><img src="../../../assets/download (1).jpg" class="img2" alt="img"></figure>
        <a href=""> <div class="title">Description</div> </a>   
       
    </div>
    <div class="col">
        <figure><img src="../../../assets/download (1).jpg" class="img2" alt="img"></figure>
        <a href=""> <div class="title">Description</div> </a>   
       
    </div>
    <!-- <div class="col">
        <a href=""><img src="../../../assets/download (2).jpg" class="img3" alt="img"></a>
            <div class="title">Description</div> 
    </div> -->

    </div>

 
    <!-- <img src="../../../assets/download (2).jpg" class="img3" alt="img"> -->
    

     
    
     
     

    
    <!-- Categories area end -->

    <div class="containerx mt-4">
        <figure>
             <img src="../../../assets/download (7).jpg" alt="Snow" style="width:100%;">
        </figure>
       
        
        <div class="centered">
            <div class="card" id="card">
                <button class="btn btn-success">Cook this Now</button>
                <div class="card-title">Lorem ipsum dolor</div>
                <div class="card-text">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa tempora ipsam .</p>
                <a href="">View Recipe...</a>
                </div>
            </div>
        </div>
      </div>
    </div>
        

<br>
<br>
<br>
<!-- Letest & Greatest -->
<div class="bgcolor">
    
    <div class="container">
       
        <br>
        <div class="Letest">
            <h2>Letest & Greatest</h2>
        </div>
        <!-- <div class="card"> -->
            <div class="row">
                <div class="col-6">
                    <div class="card mt-4">
                        <div class="row">
                            <div class="col">
                            <figure>
                                <img src="../../../assets/download (2).jpg" class="img"  alt="">
                            </figure>
                            </div>
                            <div class="col">
                                <i class="fa fa-heart" aria-hidden="true" style="color:black;"></i>
                                <h4>Dish-title</h4>
                                <p>Category : essert</p>
                                <p>by nisha joshi</p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div class="col-6">
                    <div class="card mt-4">
                        <div class="row">
                            <div class="col">
                            <figure>
                                <img src="../../../assets/download (2).jpg" class="img" alt="">
                            </figure>
                                 
                             
                            </div>
                            <div class="col">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <h4>Dish-title</h4>
                            <p>Category : essert</p>
                            <p>by nisha joshi</p>
                                 <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                    </div>
                   
               </div>  
               <div class="col-6">
                   <div class="card mt-4">
                    <div class="row">
                        <div class="col">
                            <figure>
                                <img src="../../../assets/download (2).jpg" class="img" alt="">
                            </figure>
                        </div>
                        <div class="col">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <h4>Dish-title</h4>
                            <p>Category : essert</p>
                            <p>by nisha joshi</p>
                             <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                        </div>
                    </div>
                   </div>
                  
               </div>  
               <div class="col-6">
                   <div class="card mt-4">
                    <div class="row">
                        <div class="col">
                            <figure>
                                <img src="../../../assets/download (2).jpg" class="img" alt="">
                            </figure>
                        </div>
                        <div class="col">
                            <i class="fa fa-heart" aria-hidden="true" style="color:black;"></i>
                            <h4>Dish-title</h4>
                            <p>Category : essert</p>
                            <p>by nisha joshi</p>
                             <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                        </div>
                    </div>
                   </div>
                  
               </div>   
            </div>
            <br>
            <br>
        <!-- </div> -->
    </div>
</div>

<!-- Our Blog -->
    
<div class="container">
    <br>
    <div class="Letest" style="text-align: center;">
        <h2>Our Blog</h2>
    </div>
    <div class="card-deck">
        <div class="card">
            
                <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
           
         
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="card">
           
                <img class="card-img-top" src="../../../assets/download (6).jpg" alt="Card image cap">
           
          
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="card">
          
                <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
           
         
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
         
          </div>
        </div>
        <div class="card">
            
                <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
           
            
            <div class="card-body">
                <h4>Dish-title</h4>
                <p>Category : essert</p>
                <p>by nisha joshi</p>
                 <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
            </div>
          </div>
      </div>
      <div class="card-deck mt-4">
        <div class="card">
            
                <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
           
          
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="card">
          
                <img class="card-img-top" src="../../../assets/download (6).jpg" alt="Card image cap">
            
          
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="card">
           
                <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
            
          
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
         
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
            
            <div class="card-body">
                <h4>Dish-title</h4>
                <p>Category : essert</p>
                <p>by nisha joshi</p>
                 <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
            </div>
          </div>
      </div>
      <br>
      <div class="" style="text-align: center;">
        <button type="button" class="btn btn-outline-primary mb-4" ><a routerLink="/Blog">KNOW MORE</a> </button>
      </div>
</div>
<!-- Our Blog -->

<!-- Testimonials  -->

    <div class="conatiner">
          <ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
        <figure>
            <img src="../../../assets/slider1.jpg" class="sliderimg" alt="Random first slide">
        </figure>
     
    </div>
    <div class="carousel-caption">
        <div class="row">
            <h1 class="margin1">Testimonials</h1>
            <div class="textimonialimg">
                <img src="../../../assets/dummy.png" alt="img">
            </div>
            
            <p  class="margin1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis similique nisi atque. Ut, suscipit nulla vel magni in, quisquam repellendus, necessitatibus deserunt amet iure quod?</p>
            <p  class="margin1">Nisha joshi</p>
        </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
        <figure>
            <img src="../../../assets/slider2.jpg" class="sliderimg" alt="Random second slide">
        </figure>
     
    </div>
    <div class="carousel-caption">
        <div class="row">
            <h1 class="margin1">Testimonials</h1>
            <div class="textimonialimg">
                <figure>
                    <img src="../../../assets/dummy.png" alt="img">
                </figure>
               
            </div>
            
            <p  class="margin1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis similique nisi atque. Ut, suscipit nulla vel magni in, quisquam repellendus, necessitatibus deserunt amet iure quod?</p>
            <p  class="margin1">Nisha joshi</p>
        </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
        <figure>
            <img src="../../../assets/blur-bread-rolls-counter-cup.jpg" class="sliderimg" alt="Random third slide">
        </figure>
      
    </div>
    <div class="carousel-caption">
        <div class="row">
            <h1 class="margin1">Testimonials</h1>
            <div class="textimonialimg">
                <figure>
                    <img src="../../../assets/dummy.png" alt="img">
                </figure>
                
            </div>
            
            <p  class="margin1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis similique nisi atque. Ut, suscipit nulla vel magni in, quisquam repellendus, necessitatibus deserunt amet iure quod?</p>
            <p  class="margin1">Nisha joshi</p>
        </div>
    </div>
  </ng-template>
</ngb-carousel>
          <!-- next  -->
    </div>




<!-- about-Us  -->
<div class="container mt-4" >
    <div class="row">
        <div class="col-6">
            <div class="aboutcard">
                <div class="text">
                    <h3>Neha joshi</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium animi beatae accusantium voluptates explicabo! Quia totam eligendi dolorum cumque perferendis blanditiis provident non labore laborum magnam consectetur illo aut odit, distinctio nobis. Consectetur quidem perspiciatis nulla vitae culpa accusamus praesentium doloremque </p>
                    <button type="button" class="btn btn-outline-primary">KNOW MORE</button>
                </div>
                
            </div>
        </div>
        <div class="col-6">
            <figure>
                <img src="../../../assets/master shafe.png"  class="img" alt="">
            </figure>
        </div>
    </div>
    </div>
<!-- about-Us end -->
<!-- instagram -->
<div class="container">
    <div class="Letest">
        <h3>Instagram <span style="color: gainsboro; font-family: Verdana, Geneva, Tahoma, sans-serif;">|</span> </h3><a href="">Follow</a>
    </div>
    <a href="">
    <img src="../../../assets/download (1).jpg" class="img3" alt="img"></a> 
    <a href="">
    <img src="../../../assets/download (2).jpg" class="img3" alt="img"></a> 
    <a href="">
    <img src="../../../assets/download (3).jpg" class="img3" alt="img"></a> 
    <a href="">
    <img src="../../../assets/download (4).jpg" class="img3" alt="img"></a> 
    
</div>