<div class="container">
    <div class="titless">
        <h1>About Us</h1>
    </div>
    <div class="margin1 mt-4">
        <a routerLink="/home">Home ></a><a routerLink="about-Us">About Us</a>
    </div>
    <div class="margin1">
    </div>
    <div class="row">
        <div class="col">
            <p style="color: brown; font-weight: bold;">Form The Founder</p><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio veniam quae expedita! Quisquam culpa veniam atque illo? In nostrum, qui a velit aut, aspernatur beatae necessitatibus iure mollitia voluptate atque doloremque aliquid amet consequuntur veniam placeat, rem debitis doloribus maxime reprehenderit? Numquam, cum repudiandae at perspiciatis ut ipsum harum quisquam!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam necessitatibus, aut dignissimos sunt expedita vero aspernatur sed dolore iusto explicabo molestias numquam cumque illum animi. Veniam sapiente quo itaque dolores.</p>
        </div>
        <div class="col">
            <img src="../../../assets/master shafe.png" alt="">
        </div>
    </div>
    <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, at, consectetur fuga, hic repellendus eum eveniet delectus natus vel doloribus illum molestiae laborum beatae dolore alias rerum rem maiores. Fugiat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non voluptatibus explicabo aperiam itaque nisi possimus, eaque ex! Amet temporibus, reiciendis dicta veritatis ratione expedita cumque accusantium magni eligendi tempora laboriosam?</p>
    <p class="mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non voluptatibus explicabo aperiam itaque nisi possimus, eaque ex! Amet temporibus, reiciendis dicta veritatis ratione expedita cumque accusantium magni eligendi tempora laboriosam?</p>
  
    <p class="mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non voluptatibus explicabo aperiam itaque nisi possimus, eaque ex! Amet temporibus, reiciendis dicta veritatis ratione expedita cumque accusantium magni eligendi tempora laboriosam?</p>
  
    <p class="mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non voluptatibus explicabo aperiam itaque nisi possimus, eaque ex! Amet temporibus, reiciendis dicta veritatis ratione expedita cumque accusantium magni eligendi tempora laboriosam?</p>
  
    <p class="mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non voluptatibus explicabo aperiam itaque nisi possimus, eaque ex! Amet temporibus, reiciendis dicta veritatis ratione expedita cumque accusantium magni eligendi tempora laboriosam?</p>
  
    <div class="margin1" style="color: brown;">
        <h5>With Love</h5>
        <h5>shaila tamboli</h5>
    </div>
</div>
<div class="stylecolor">
    <div class="container">
        <div class="row">
            <div class="col-4 mt-4">
                <h2 style="color: brown;text-align: center;">Vision</h2>
            </div>
            <div class="col-8  mt-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dicta fugit repellat, sit rerum molestiae praesentium dolorum, porro maxime dolorem non, provident quod nisi impedit similique molestias expedita beatae voluptatibus.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique dolorem quos dolores harum, mollitia vero? Ullam voluptate eaque, eveniet, iusto totam nulla autem voluptas fugiat porro placeat repellendus laudantium quod.
                </p>
                <br>
                <br>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis ad accusamus dolor iure? Nam, praesentium odit esse totam quas cumque consequatur facilis cum porro, a, dicta molestias consequuntur ipsa!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptate. Quaerat inventore tempore, culpa deleniti error qui! Quam ipsam incidunt alias expedita nisi. Accusantium, odit incidunt! Cupiditate iure quia magnam.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mt-4">
                <h2 style="color: brown;text-align: center;">mission</h2>
            </div>
            <div class="col-8  mt-4">
                <p>Introducing <span  style="color: brown;font-weight: bold;">Mataruparna</span></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dicta fugit repellat, sit rerum molestiae praesentium dolorum, porro maxime dolorem non, provident quod nisi impedit similique molestias expedita beatae voluptatibus.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique dolorem quos dolores harum, mollitia vero? Ullam voluptate eaque, eveniet, iusto totam nulla autem voluptas fugiat porro placeat repellendus laudantium quod.
                </p>
                <br>
                <br>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis ad accusamus dolor iure? Nam, praesentium odit esse totam quas cumque consequatur facilis cum porro, a, dicta molestias consequuntur ipsa!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptate. Quaerat inventore tempore, culpa deleniti error qui! Quam ipsam incidunt alias expedita nisi. Accusantium, odit incidunt! Cupiditate iure quia magnam.
                </p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis ad accusamus dolor iure? Nam, praesentium odit esse totam quas cumque consequatur facilis cum porro, a, dicta molestias consequuntur ipsa!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptate. Quaerat inventore tempore, culpa deleniti error qui! Quam ipsam incidunt alias expedita nisi. Accusantium, odit incidunt! Cupiditate iure quia magnam.
                </p>
            </div>
        </div>
    </div>
    <br>
    <!-- next  -->
 
</div>
<div class="container">
    <div class="containerx mt-4"  style="margin-left: 10%;margin-right: 10%;">
        <img src="../../../assets/download (7).jpg" alt="Snow" class="about-image">
        
        <div class="centered">
            <div class="card" id="card">
                <button class="btn btn-success">Cook this Now</button>
                <div class="card-title">Lorem ipsum dolor</div>
                <div class="card-text">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa tempora ipsam .</p>
                <a href="">View Recipe...</a>
                </div>
            </div>
        </div>
      </div>
</div>