<div class="container">
    <div class="titless">
        <h1>Contact Us</h1>
    </div>
    
<div class="about-area">
    <div class="margin1">
        <a routerLink="/home">Home ></a><a routerLink="about-Us">Contact Us</a>
    </div>
    <p class="margin1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ex enim laborum illum nihil
        perspiciatis recusandae libero provident corrupti rerum? Suscipit nisi esse cupiditate blanditiis earum qui?
        Saepe, recusandae suscipit.</p>

    <div class="classname">
        <div class="row">
            <div class="col-6">
              <div class="cardxx">
                  <img src="../../../assets/master shafe.png" class="formimg" alt="">
              </div>
            </div>
            <div class="col-6">
                <div class="categories1">
                    <div class="textt">
                        <h3 style="color: brown; margin-top: 10px;">Get In Touch With Us</h3>
                        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Name:</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com" name="name" ngModel>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email:</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com" name="email" ngModel>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Comment:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="comment" ngModel></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
                        </form>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container mt-4" >
    <div class="row">
        <div class="col-6">
            <div class="aboutcard">
                <div class="text">
                    <h3>Neha joshi</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium animi beatae accusantium voluptates explicabo! Quia totam eligendi dolorum cumque perferendis blanditiis provident non labore laborum magnam consectetur illo aut odit, distinctio nobis. Consectetur quidem perspiciatis nulla vitae culpa accusamus praesentium doloremque </p>
                    <button type="button" class="btn btn-outline-primary">KNOW MORE</button>
                </div>
                
            </div>
        </div>
        <div class="col-6">
            <figure>
                <img src="../../../assets/master shafe.png" alt="">
            </figure>
        </div>
    </div>
    </div>
    <div class="container">
        <br>
        <div class="Letest" style="margin-bottom: 10px;margin-bottom: 10px; color:brown">
            <h2>You May Also Like</h2>
        </div>
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
              <div class="card-body">
                <h4>Dish-title</h4>
                <p>Category : essert</p>
                <p>by nisha joshi</p>
                 <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../../assets/download (6).jpg" alt="Card image cap">
              <div class="card-body">
                <h4>Dish-title</h4>
                <p>Category : essert</p>
                <p>by nisha joshi</p>
                 <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
              <div class="card-body">
                <h4>Dish-title</h4>
                <p>Category : essert</p>
                <p>by nisha joshi</p>
                 <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
             
              </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
                <div class="card-body">
                    <h4>Dish-title</h4>
                    <p>Category : essert</p>
                    <p>by nisha joshi</p>
                     <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                </div>
              </div>
          </div>
          
          <br>
          <div class="" style="text-align: center;">
            <button type="button" class="btn btn-outline-primary" ><a routerLink="/Blog">KNOW MORE</a> </button>
          </div>
    </div>
</div>