<div class="container">

    <div class="margin2">
        <a routerLink="/home">Home ></a><a routerLink="Blog">blog ></a><a routerLink="single-blog">Single-Blog</a>
    </div>
</div>
<div class="container">
    <div class="single-blog">
        <div class="row">
            <div class="col-8">
                <h3 class="title">Beetroot  Kofta Curry</h3>
                <p><i class="fa fa-heart pe-auto" aria-hidden="true" (click)="open(content)"></i>by Nisha ON 17/august 2021 <a href="#">Like</a></p>
            <hr>

            <p class="margin2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores consequatur animi porro, maxime eos sit, itaque eveniet, est laudantium iste illum obcaecati quisquam rem! Consequuntur maxime excepturi quidem cum velit?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deleniti asperiores aliquid eos earum qui tempore amet, tenetur sed culpa! Esse culpa doloremque autem tempore ipsa. Illo odio nulla sunt.
            </p>
            <p class="margin2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores consequatur animi porro, maxime eos sit, itaque eveniet, est laudantium iste illum obcaecati quisquam rem! Consequuntur maxime excepturi quidem cum velit?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deleniti asperiores aliquid eos earum qui tempore amet, tenetur sed culpa! Esse culpa doloremque autem tempore ipsa. Illo odio nulla sunt.
            </p>
            <img src="../../../../assets/download (6).jpg" alt="">
            <h4 class="title">Ingredients</h4>
            <ol>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
            </ol>
            <h3 class="title">Method</h3>
            <ol>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li class=mb-2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ad.</li>
            </ol>

            <!-- form for comment -->
            <br>
            
            <br>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Comment</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post Comment</button>
              </form>
            <!-- form  -->
            </div>
            <div class="col-4">
                <div class="card mb-2">
                    <div class="cardx">Beetroot  Kofta Curry</div>
                    <p class="cardtext">By Nisha Joshi</p>
                </div>
                <div class="card mb-2">
                    <div class="cardx">Beetroot  Kofta Curry</div>
                    <p class="cardtext">By Nisha Joshi</p>
                </div>
                <div class="card mb-2">
                    <div class="cardx">Beetroot  Kofta Curry</div>
                    <p class="cardtext">By Nisha Joshi</p>
                </div>
                <div class="card mb-2">
                    <div class="cardx">Beetroot  Kofta Curry</div>
                    <p class="cardtext">By Nisha Joshi</p>
                </div>
                <div class="card mb-2">
                    <div class="cardx">Beetroot  Kofta Curry</div>
                    <p class="cardtext">By Nisha Joshi</p>
                </div>
                <div class="card mb-2">
                    <div class="cardx">Beetroot  Kofta Curry</div>
                    <p class="cardtext">By Nisha Joshi</p>
                </div>
                <h4 class="margin2">Recipes You May Like</h4>
                <div class="card mb-2">
                    <div class="cardx">
                        <img src="../../../../assets/download (1).jpg" class="imgcard" alt="">
                        Beetroot  Kofta Curry
                        <p class="cardtext1">By Nisha Joshi</p></div>
                </div>
                <div class="card mb-2">
                    <div class="cardx">
                        <img src="../../../../assets/download (1).jpg" class="imgcard" alt="">
                        Beetroot  Kofta Curry
                        <p class="cardtext1">By Nisha Joshi</p></div>
                </div>
                <div class="card mb-2">
                    <div class="cardx">
                        <img src="../../../../assets/download (1).jpg" class="imgcard" alt="">
                        Beetroot  Kofta Curry
                        <p class="cardtext1">By Nisha Joshi</p></div>
                </div>
                <div class="card mb-2">
                    <div class="cardx">
                        <img src="../../../../assets/download (1).jpg" class="imgcard" alt="">
                        Beetroot  Kofta Curry
                        <p class="cardtext1">By Nisha Joshi</p></div>
                </div>

            </div>
        </div>
        <h3 class="title">Other Related Post</h3>
        <br>
        <div class="Letest" style="text-align: center;">
        
      </div>
      <div class="card-deck">
          <div class="card" >
            <img class="card-img" src="../../../assets/download (7).jpg" alt="Card image cap">
            <div class="card-body">
              <h4>Dish-title</h4>
              <p>Category : essert</p>
              <p>by nisha joshi</p>
               <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
            </div>
          </div>
          <div class="card">
            <img class="card-img" src="../../../assets/download (6).jpg" alt="Card image cap">
            <div class="card-body">
              <h4>Dish-title</h4>
              <p>Category : essert</p>
              <p>by nisha joshi</p>
               <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
            </div>
          </div>
          <div class="card">
            <img class="card-img" src="../../../assets/download (7).jpg" alt="Card image cap">
            <div class="card-body">
              <h4>Dish-title</h4>
              <p>Category : essert</p>
              <p>by nisha joshi</p>
               <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
           
            </div>
          </div>
          <div class="card">
              <img class="card-img" src="../../../assets/download (7).jpg" alt="Card image cap">
              <div class="card-body">
                  <h4>Dish-title</h4>
                  <p>Category : essert</p>
                  <p>by nisha joshi</p>
                   <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
              </div>
            </div>
        </div>

    </div>
  <!-- popup -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Likes & Views</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h4 class="margin2" style="color: brown;">Views 22</h4>
        <p>Liked by </p>
        <hr>
        <div class="card mb-2">
            <img src="../../../../assets/dummy.png" class="popup" alt="">
            <p class="cardtext">By Nisha Joshi <button class="btn btn-outline-dark col-sm-4">Like</button></p>
        </div>
        <div class="card mb-2">
            <img src="../../../../assets/dummy.png" class="popup" alt="">
            <p class="cardtext">By Nisha Joshi <button class="btn btn-outline-dark col-sm-4">Like</button></p>
        </div>
        <div class="card mb-2">
            <img src="../../../../assets/dummy.png" class="popup" alt="">
            <p class="cardtext">By Nisha Joshi <button class="btn btn-outline-dark col-sm-4">Like</button></p>
        </div>
    </div>
   
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
  
  <hr>
  
  <pre>{{ closeResult }}</pre>
</div>


