<hr style="padding: 2px; margin-top: 20px;margin-bottom: 20px; background-color: brown;">
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="margin-bottom: 20px;">Mataruparna</h1>
            Follow Us On :
            <hr>
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><img src="../../../assets/Instagram-v051916-150x150.png" class="iconimg" alt=""></a>
            <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>

        </div>
        
        <div class="col">
            <h3>Quick Links</h3>
            <ul>
                <p><a routerLink="/Categories">Categories</a></p>
                <p><a routerLink="/Blog">Blog</a></p>
                <p><a routerLink="/About-Us">About Us</a></p>
                <p><a routerLink="/Contact-Us">Contact Us</a></p>
            </ul>
        </div>
        <div class="col">
            <br><br>
            <ul>
                <p><a routerLink="privacy-policy">Privacy policy</a></p>
                <p><a routerLink="/Turm-Condition">Turm & Condition</a></p>
                <p><a routerLink="/FAQa">FAQs</a></p>
            </ul>
        
        </div>
        <div class="col">
            <br><br>
            <ul>
                <p><a routerLink="/User-admin">Your Profile</a></p>
                <p><a [routerLink]="['Blog-edit']" routerLinkActive="active"> Add Blogs</a></p>
                <p><a routerLink="/feedback">Feedback</a></p>
            </ul>
        </div>
        <div class="col">
            <div class="card">
                <div class="cardmr">
                    <h3>NewsLatter</h3>
                    <p style="margin-top: 33px;">Subscribe to our newslatter to get update</p>
                    <form class="example" style="margin:auto;max-width:300px;align-items: center;margin-top: 33px;">
                        <input type="text" placeholder="Email.." name="search2">
                        <i class="fa fa-paper-plane"></i>
                      </form>
                </div>
               
            </div>
        </div>
    </div>
    <div class="borderre"></div>

  
</div>