<div class="container">
    <div class="privacy-plicy">
        <div class="margin2">
            <a routerLink="/home">Home ></a><a routerLink="privacy-plicy">Turn & Condition</a>
        </div>
    
        <h2 class="margin2">Turn & Condition</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente perferendis repellat consectetur ea modi magnam iure, animi dolor a unde!</p>    
        <p class="margin1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quia modi beatae dolores blanditiis eum explicabo id? Impedit harum nostrum aliquam, debitis iure eos. Veritatis, inventore deleniti! Fuga, repellendus. Quia?</p>
        <ul class="margin1">
            <li class="margin1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus obcaecati laboriosam ea quia eius eum qui unde, nesciunt vitae ipsam quod sint, hic veritatis? Inventore commodi expedita harum. Officia, vitae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ducimus voluptas excepturi repudiandae atque modi, soluta dolor. Non fugit numquam nam temporibus, amet assumenda tempora quos aut perferendis sint consequatur.
            </li>
            <li class="margin1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus obcaecati laboriosam ea quia eius eum qui unde, nesciunt vitae ipsam quod sint, hic veritatis? Inventore commodi expedita harum. Officia, vitae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ducimus voluptas excepturi repudiandae atque modi, soluta dolor. Non fugit numquam nam temporibus, amet assumenda tempora quos aut perferendis sint consequatur.
            </li>
            <li class="margin1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus obcaecati laboriosam ea quia eius eum qui unde, nesciunt vitae ipsam quod sint, hic veritatis? Inventore commodi expedita harum. Officia, vitae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ducimus voluptas excepturi repudiandae atque modi, soluta dolor. Non fugit numquam nam temporibus, amet assumenda tempora quos aut perferendis sint consequatur.
            </li>
            <li class="margin1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus obcaecati laboriosam ea quia eius eum qui unde, nesciunt vitae ipsam quod sint, hic veritatis? Inventore commodi expedita harum. Officia, vitae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ducimus voluptas excepturi repudiandae atque modi, soluta dolor. Non fugit numquam nam temporibus, amet assumenda tempora quos aut perferendis sint consequatur.
            </li>
        </ul>
        <p class="margin1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis possimus repellat vero porro perferendis est quo exercitationem unde modi cumque voluptatum quia quibusdam ipsum eaque, delectus earum officiis et voluptatem.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque assumenda, quam dolores incidunt quae ipsam optio nulla voluptatibus facere, quisquam excepturi, cum odit veniam omnis debitis corrupti suscipit possimus ad!</p>
        <p class="margin1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis possimus repellat vero porro perferendis est quo exercitationem unde modi cumque voluptatum quia quibusdam ipsum eaque, delectus earum officiis et voluptatem.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque assumenda, quam dolores incidunt quae ipsam optio nulla voluptatibus facere, quisquam excepturi, cum odit veniam omnis debitis corrupti suscipit possimus ad!</p>


<h3 class="margin2">Check Our Recipes</h3>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
      <div class="card-body">
        <h4>Dish-title</h4>
        <p>Category : essert</p>
        <p>by nisha joshi</p>
         <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/download (6).jpg" alt="Card image cap">
      <div class="card-body">
        <h4>Dish-title</h4>
        <p>Category : essert</p>
        <p>by nisha joshi</p>
         <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
      <div class="card-body">
        <h4>Dish-title</h4>
        <p>Category : essert</p>
        <p>by nisha joshi</p>
         <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
     
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
        <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
        </div>
      </div>
  </div>
    </div>
  
</div>