<div class="container">
    <div class="privacy-plicy">
        <br>
        <br>
        <div class="row">
            <div class="col-4">
                <img src="../../../../assets/dummy.png" class="userimage" alt="">
                <div class="margin2">
                    Nisha Joshi
                </div>
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                       
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-outline-primary">Follow</button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">12 Vieos</th>
                        <th scope="col">10 Blog</th>
                        <th scope="col">20 Following</th>
                        <th scope="col">20 Followers</th>
                      </tr>
                    </thead>
                   
                  </table>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam quas vero sapiente ad quaerat voluptatem maxime illum, repellat vitae praesentium unde saepe labore, cupiditate suscipit omnis quam nesciunt temporibus quae.</p>
                <p class="margin1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat autem adipisci libero aspernatur. Vel voluptatibus voluptates, fugit aperiam quidem aliquid.</p>
            </div>
        </div>
        <div class="aminimage">

        </div>
    </div> 
    <table class="table mt-4">
        <thead>
          <tr><th scope="col"></th>
            <th scope="col">12 Vieos</th>
            <th scope="col">10 Blog</th>
            <th scope="col">20 Following</th>
            <th scope="col">20 Followers</th>
          </tr>
        </thead>
       
      </table>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (6).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
         
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
            <div class="card-body">
                <h4>Dish-title</h4>
                <p>Category : essert</p>
                <p>by nisha joshi</p>
                 <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
            </div>
          </div>
      </div>
      <div class="card-deck mt-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (6).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
          <div class="card-body">
            <h4>Dish-title</h4>
            <p>Category : essert</p>
            <p>by nisha joshi</p>
             <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
         
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/download (7).jpg" alt="Card image cap">
            <div class="card-body">
                <h4>Dish-title</h4>
                <p>Category : essert</p>
                <p>by nisha joshi</p>
                 <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
            </div>
          </div>
      </div>
      
</div>